{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 4,
        "printWidth": 200
      }
    },
    {
      "files": ["*.js", "*.scss", ".prettierrc", "*.json"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.svg"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
