.layout-content {
  padding-top: 7px;
  padding-bottom: 400px;
}
@media (max-width: 1199.98px) {
  .layout-content {
    padding-bottom: 250px;
  }
}
@media (max-width: 767.98px) {
  .layout-content {
    padding-bottom: 150px;
  }
}

#login-modal .modal-content {
  width: 475px;
  border-top-left-radius: 237px;
  border-top-right-radius: 237px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media only screen and (max-width: 400px) {
  #login-modal .modal-content {
    border-radius: 15px;
    height: auto;
  }
}
#login-modal .modal-body .icon-user {
  position: absolute;
  height: 90px;
  width: 90px;
  z-index: 2;
  left: 0;
  right: 0;
  top: -45px;
}
@media only screen and (max-width: 400px) {
  #login-modal .modal-body .icon-user {
    height: 60px;
    width: 60px;
    top: -30px;
  }
}
#login-modal .modal-body .top-toggle {
  margin-top: 4px;
  position: relative;
}
#login-modal .modal-body .top-toggle .toggle-bg {
  display: block;
}
#login-modal .modal-body .top-toggle .toggle-icon {
  background-color: #eaeaea;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
}
#login-modal .modal-body .top-toggle .toggle-icon.active {
  background-color: #41a2f9;
}
#login-modal .modal-body .top-toggle .toggle-icon.tenant-icon {
  left: 57px;
  bottom: -1px;
}
#login-modal .modal-body .top-toggle .toggle-icon.landlord-icon {
  right: 57px;
  bottom: -1px;
}
@media only screen and (max-width: 500px) {
  #login-modal .modal-body .top-toggle {
    display: none !important;
  }
}
#login-modal .modal-body .title {
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #41a2f9;
  margin-top: -20px;
}
@media only screen and (max-width: 500px) {
  #login-modal .modal-body .title {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 400px) {
  #login-modal .modal-body .title {
    margin-top: 30px;
  }
}
#login-modal .modal-body .button-toggler button {
  font-weight: bold;
}
#login-modal .modal-body .button-toggler button:not(.active) {
  color: #41a2f9 !important;
  background-color: white !important;
}
#login-modal .modal-body .button-toggler button.btn-as-tenant {
  margin-left: -50px;
}
#login-modal .modal-body .button-toggler button.btn-as-landlord {
  display: block;
  margin-left: auto;
  margin-right: -50px;
}
@media only screen and (max-width: 545px) {
  #login-modal .modal-body .button-toggler button.btn-as-tenant {
    margin-left: 50px;
  }
  #login-modal .modal-body .button-toggler button.btn-as-landlord {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 500px) {
  #login-modal .modal-body .button-toggler button.btn-as-tenant, #login-modal .modal-body .button-toggler button.btn-as-landlord {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 500px) {
  #login-modal .modal-body .button-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 25px !important;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 400px) {
  #login-modal .modal-body .button-toggler {
    padding-left: 0;
    padding-right: 0;
  }
}
#login-modal .modal-body .main-content {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 500px) {
  #login-modal .modal-body .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 400px) {
  #login-modal .modal-body .main-content {
    padding-left: 0;
    padding-right: 0;
  }
}
#login-modal .modal-body .main-content input {
  box-shadow: none;
  border: 1px solid #d7d7d7;
  padding: 12px 20px;
}
#login-modal .modal-body .main-content .checkbox {
  flex-shrink: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
#login-modal .modal-body .main-content .checkbox.active img {
  display: block;
}
#login-modal .modal-body .main-content .checkbox img {
  display: none;
}
#login-modal .modal-body .main-content .form-footer .remember-me-text {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  color: #7f7f7f;
}
#login-modal .modal-body .main-content .form-footer .forgot-password {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
}
#login-modal .modal-body .main-content .login-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#login-modal .modal-body .main-content .login-button .social-media-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#login-modal .modal-body .main-content .login-button .social-media-options .item {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 8px;
  height: 40px;
  width: 40px;
  background-color: white;
  cursor: pointer;
  transition: 300ms;
}
#login-modal .modal-body .main-content .login-button .social-media-options .item:hover {
  opacity: 0.8;
  transition: 300ms;
}
#login-modal .modal-body .main-content .login-button .social-media-options .item img {
  width: 100%;
}
#login-modal .modal-body .main-content .i-agree .i-agree-text {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  color: #7f7f7f;
}
