@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaLight.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaBlack.otf") format("opentype");
  font-weight: 800;
}
.layout-header {
  width: 100%;
  height: 108px;
}
.layout-header .header-background {
  width: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 1599.98px) {
  .layout-header .header-background {
    height: 100px;
  }
}
@media (max-width: 767.98px) {
  .layout-header .header-background {
    display: none;
  }
}
.layout-header .header-logo-user {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.625rem 1.75rem;
  width: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 1599.98px) {
  .layout-header .header-logo-user {
    top: 40px;
    padding: 0.625rem 1.5625rem;
  }
}
@media (max-width: 767.98px) {
  .layout-header .header-logo-user {
    padding: 0.625rem 0.9375rem;
  }
}
.layout-header .header-logo-user .logo {
  padding: 0.8125rem 1.375rem;
  margin-top: 1.375rem;
  align-self: center;
  border-radius: 10px;
  background-color: #41a2f9;
}
.layout-header .header-logo-user .logo .text {
  color: white;
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}
.layout-header .header-logo-user .user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: 0.625rem;
  background-color: white;
  height: 70px;
  width: 70px;
  padding: 10px;
  border-radius: 50%;
  background-image: url("../../resources/images/landlord-sample-photo.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1599.98px) {
  .layout-header .header-logo-user .logo {
    padding: 0.625rem 1.125rem;
  }
  .layout-header .header-logo-user .logo .text {
    font-family: Proxima Nova, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
  }
  .layout-header .header-logo-user .user {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-top: 1.125rem;
  }
}
.layout-header .header-menu {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0;
}
.layout-header .header-menu .header-menu-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: row;
  margin-left: -15rem;
}
@media (max-width: 767.98px) {
  .layout-header .header-menu .header-menu-wrapper {
    width: 100%;
  }
}
.layout-header .header-menu .main-menu {
  align-self: center;
  background-color: #41a2f9;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0.625rem 1.125rem;
  padding-top: 0.9375rem;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.layout-header .header-menu .main-menu a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: Proxima Nova, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
}
.layout-header .header-menu .main-menu span {
  color: #3696ed;
}
@media (max-width: 767.98px) {
  .layout-header .header-menu .main-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .layout-header .header-menu .main-menu a {
    font-family: Proxima Nova, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
  }
}
.layout-header .header-menu .note {
  background-color: white;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 0.625rem 1.6875rem;
  padding-top: 0.9375rem;
  margin-right: 7.875rem;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.layout-header .header-menu .note span {
  text-transform: uppercase;
  color: #2f2f2f;
  font-family: Proxima Nova, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
}
@media (max-width: 1599.98px) {
  .layout-header .header-menu .note {
    margin-right: 3.125rem;
  }
}
@media (max-width: 1199.98px) {
  .layout-header .header-menu .note {
    display: none;
  }
  .layout-header .header-menu .header-menu-wrapper {
    margin-left: 0;
  }
}

.header-back .back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: 38px;
  margin-left: 58px;
  background-color: #41a2f9;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
}
.header-back .back img {
  width: 50%;
}
@media (max-width: 767.98px) {
  .header-back .back {
    margin-left: 15px;
  }
}
.header-back .back:hover {
  transition: 300ms;
  opacity: 0.8;
}

.layout-content .main-title {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media (max-width: 575.98px) {
  .layout-content .main-title {
    font-size: 28px;
  }
}
.layout-content .main-title-2 {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 25px;
}
@media (max-width: 575.98px) {
  .layout-content .main-title-2 {
    font-size: 22px;
  }
}
.layout-content .main-subtitle {
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}
@media (max-width: 575.98px) {
  .layout-content .main-subtitle {
    font-size: 16px;
  }
}
.layout-content .main-subtitle.dark-gray {
  color: #7f7f7f;
}
.layout-content .main-subtitle.primary {
  color: #41a2f9;
}
.layout-content .main-box {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: white;
  padding: 20px 25px;
}
.layout-content .main-desc {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  padding: 0;
  margin: 0;
  line-height: 28px;
  color: #7f7f7f;
}
@media (max-width: 575.98px) {
  .layout-content .main-desc {
    font-size: 15px;
    line-height: 25px;
  }
}

.layout-footer {
  background-color: #41a2f9;
  position: relative;
}
.layout-footer hr {
  border-color: #4191d9 !important;
}
.layout-footer .subscriber-bg {
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
}
.layout-footer .subscriber-bg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.layout-footer .subscriber {
  position: absolute;
  transform: translateY(-100%);
  padding: 82px 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, -60%);
}
@media (max-width: 1199.98px) {
  .layout-footer .subscriber {
    position: relative;
    left: 0;
    transform: none;
    border-radius: 0;
  }
}
@media (max-width: 575.98px) {
  .layout-footer .subscriber {
    padding: 50px 25px;
  }
}
.layout-footer .subscriber .logo {
  padding: 13px 22px;
  display: inline-block;
  border-radius: 10px;
  background-color: #41a2f9;
  margin-left: auto;
  margin-right: auto;
}
.layout-footer .subscriber .logo .text {
  color: white;
  padding: 0;
  margin: 0;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}
.layout-footer .subscriber .subscriber-title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 100%;
}
.layout-footer .subscriber .subscriber-form {
  position: relative;
  margin-top: 30px;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.layout-footer .subscriber .subscriber-form input {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 20px;
  border: 0;
  width: 100%;
  padding-right: 25%;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
}
.layout-footer .subscriber .subscriber-form button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 35px;
  border: 0;
  background: #41a2f9;
  border-radius: 20px;
}
.layout-footer .subscriber .subscriber-form button img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1599.98px) {
  .layout-footer .subscriber .logo {
    padding: 0.625rem 1.125rem;
  }
  .layout-footer .subscriber .logo .text {
    font-family: Proxima Nova, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
  }
}
.layout-footer .social-medias {
  margin-top: 60px;
  margin-bottom: 50px;
  display: inline-block;
}
.layout-footer .social-medias .icons {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: row;
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px 15px;
}
.layout-footer .social-medias .icons .icon {
  height: 40px;
  width: 40px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .layout-footer .social-medias {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .layout-footer .social-medias .icons {
    border-radius: 50px;
    width: auto;
  }
}
.layout-footer .footer-main {
  padding-top: 100px;
  padding-bottom: 45px;
}
.layout-footer .footer-main h3 {
  margin-bottom: 25px;
  color: white;
  font-family: Proxima Nova, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.layout-footer .footer-main .list {
  margin-bottom: 40px;
}
.layout-footer .footer-main .list a {
  margin-bottom: 15px;
  display: block;
  color: white;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 100%;
  text-decoration: none;
  transition: 300ms;
}
.layout-footer .footer-main .list a:hover {
  opacity: 0.8;
  transition: 300ms;
}
.layout-footer .copyright {
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 0;
  color: white;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
}

* {
  font-family: Proxima Nova, sans-serif;
  outline: none !important;
}

body {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
  color: #3e3e3e;
}

.text-primary {
  color: #41a2f9 !important;
}

.text-dark-gray {
  color: #7f7f7f !important;
}

.text-md {
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.text-sm {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}

.left-arrow-bg {
  position: absolute;
  left: 0;
  top: 720px;
  z-index: -1;
}

.right-arrow-bg {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -1;
}

.modal .modal-content {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .modal .modal-dialog.modal-lg, .modal .modal-dialog.modal-xl {
    max-width: 100% !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.modal-backdrop {
  background-color: #fff;
  backdrop-filter: blur(10px);
}

button,
.button-hover {
  transition: 300ms;
}
button:hover,
.button-hover:hover {
  transition: 300ms;
  filter: brightness(115%);
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d0d3d4;
  font-weight: 300;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #d0d3d4;
  font-weight: 300;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #d0d3d4;
  font-weight: 300;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d0d3d4;
  font-weight: 300;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #d0d3d4;
  font-weight: 300;
}
input::placeholder,
textarea::placeholder {
  color: #d0d3d4;
  font-weight: 300;
}

.rounded-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .rounded-icon {
    height: 50px;
    width: 50px;
  }
}
.rounded-icon.primary {
  background-color: #41a2f9;
}
.rounded-icon img {
  width: 45%;
}
.rounded-icon.small {
  width: 45px;
  height: 45px;
}
.rounded-icon.small img {
  width: 50%;
}

.button {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #41a2f9;
  color: white !important;
  border: 0;
  padding: 12px 20px 10px 20px;
  border-radius: 20px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
}
.button.white {
  background-color: white;
}
.button.yellow {
  background-color: #ffca00;
}
.button.gray2 {
  background-color: #cecece;
}
.button.outline {
  border: 1px solid #41a2f9;
  color: #41a2f9 !important;
  background-color: white;
}
.button.min-width {
  min-width: 140px;
}

.button-nav {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 0;
  border-radius: 50%;
  background-color: white;
  height: 35px;
  width: 35px;
  padding: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}
.button-nav img {
  width: 100%;
}
.button-nav.s-40 {
  height: 40px;
  width: 40px;
  padding: 9px;
}
.button-nav.primary {
  background-color: #41a2f9;
}

.btn-icon-text {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 30px;
  z-index: 1;
}
.btn-icon-text img {
  height: 20px;
  width: 20px;
}
.btn-icon-text .divider {
  width: 1px;
  height: 12px;
  background-color: black;
  opacity: 0.05;
  display: block;
  margin-left: 16px;
  margin-right: 14px;
}
.btn-icon-text .text {
  display: block;
  color: white;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}

.field-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
.field-group input,
.field-group textarea {
  width: 100%;
  padding: 12px 10px 12px 70px;
  border-radius: 20px;
  border: 0;
  color: #7f7f7f;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}
.field-group textarea {
  height: 100px;
  border-radius: 15px;
}
.field-group textarea::-webkit-input-placeholder {
  transform: translateY(30px);
}
.field-group textarea:-moz-placeholder {
  transform: translateY(30px);
}
.field-group textarea::-moz-placeholder {
  transform: translateY(30px);
}
.field-group textarea:-ms-input-placeholder {
  transform: translateY(30px);
}
.field-group textarea::-ms-input-placeholder {
  transform: translateY(30px);
}
.field-group textarea::placeholder {
  transform: translateY(30px);
}
.field-group .field-divider {
  position: absolute;
  left: 56px;
  opacity: 0.1;
  height: 12px;
  width: 0.5px;
  line-height: 100%;
  background-color: black;
}
.field-group .field-divider.long {
  height: calc(100% - 24px);
}
.field-group .field-icon {
  position: absolute;
  left: 20px;
}
.field-group .field-icon img {
  width: 20px;
  height: 20px;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.file-upload .file-select {
  position: relative;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
.file-upload .btn-browse {
  background-color: white !important;
  color: #7f7f7f !important;
}
.file-upload .filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
}
.file-upload input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
@media (max-width: 575.98px) {
  .file-upload.responsive {
    flex-wrap: wrap;
  }
  .file-upload.responsive .file-select {
    flex-wrap: wrap;
    flex-basis: 100%;
    max-width: 100%;
  }
  .file-upload.responsive .file-select .filename {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .file-upload.responsive .button {
    margin-top: 10px;
    width: 100%;
  }
}

.progress {
  border-radius: 20px;
  height: 0.7rem;
  overflow: initial;
}
.progress .progress-bar {
  background-color: #41a2f9;
  position: relative;
  overflow: initial;
  border-radius: 20px;
}
.progress .progress-bar .progress-point {
  width: 0.85rem;
  height: 0.85rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: -0.4rem;
  margin-top: -1px;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.field-group-select {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
}
.field-group-select.active .choices {
  display: block;
}
.field-group-select .left-icon {
  height: 20px;
  width: 20px;
}
.field-group-select .divider {
  width: 1px;
  height: 12px;
  background-color: black;
  opacity: 0.05;
  display: block;
  margin-left: 16px;
  margin-right: 14px;
}
.field-group-select .value {
  display: block;
  color: #d0d3d4;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}
.field-group-select .value.selected {
  color: #7f7f7f;
}
.field-group-select .btn-dropdown {
  border-radius: 50%;
  position: absolute;
  right: 6px;
  height: 32px;
  width: 32px;
  border: 0;
  background-color: #41a2f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.field-group-select .btn-dropdown img {
  width: 100%;
  height: 12px;
  width: 12px;
  margin-bottom: -2px;
}
.field-group-select .choices {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: white;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  align-self: flex-end;
  overflow: hidden;
  display: none;
  z-index: 1;
}
.field-group-select .choices .item {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  padding: 15px;
  cursor: pointer;
}
.field-group-select .choices .item:hover {
  background-color: #41a2f9;
  color: white;
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
}
.toggle-switch .switch {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: inline-block;
  padding: 4px;
  border-radius: 30px;
  flex-shrink: 0;
}
.toggle-switch .switch .switch-button {
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  text-align: center;
  border-radius: 20px;
  transition: background 600ms ease, color 600ms ease;
  margin-bottom: 0;
}
.toggle-switch .switch input[type=radio].toggle {
  display: none;
}
.toggle-switch .switch input[type=radio].toggle + label {
  cursor: pointer;
  min-width: 53px;
  font-family: Proxima Nova, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #7f7f7f;
}
.toggle-switch .switch input[type=radio].toggle + label:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.toggle-switch .switch input[type=radio].toggle.toggle-left + label {
  border-right: 0;
}
.toggle-switch .switch input[type=radio].toggle.toggle-left + label:after {
  left: 100%;
}
.toggle-switch .switch input[type=radio].toggle.toggle-left:checked + label:after {
  content: "ON";
  background: #41a2f9;
}
.toggle-switch .switch input[type=radio].toggle.toggle-right + label {
  margin-left: -5px;
}
.toggle-switch .switch input[type=radio].toggle.toggle-right + label:after {
  left: -100%;
}
.toggle-switch .switch input[type=radio].toggle.toggle-right:checked + label:after {
  content: "OFF";
  background: #7f7f7f !important;
}
.toggle-switch .switch input[type=radio].toggle:checked + label {
  cursor: default;
  color: #fff;
  transition: color 200ms;
}
.toggle-switch .switch input[type=radio].toggle:checked + label:after {
  left: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.pagination .btn-arrow {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 0;
  background-color: #41a2f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.pagination .btn-arrow img {
  width: 100%;
  height: 12px;
  width: 12px;
  margin-bottom: -2px;
}
.pagination .pages {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  margin: 0 25px;
}
.pagination .pages .number {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #7f7f7f;
  margin: 0 5px;
  cursor: pointer;
}
.pagination .pages .number.active {
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.pagination .pages .number .line {
  width: 40px;
  height: 1px;
  margin-bottom: 2px;
  margin-left: 10px;
  background-color: #7f7f7f;
}
@media (max-width: 575.98px) {
  .pagination .line {
    display: none;
  }
  .pagination .number.active {
    color: #41a2f9;
    font-weight: bold !important;
  }
  .pagination .pages {
    margin: 0 5px !important;
  }
}
