@charset "UTF-8";
.layout-content {
  padding-top: 7px;
  padding-bottom: 400px;
}
@media (max-width: 1199.98px) {
  .layout-content {
    padding-bottom: 250px;
  }
}
@media (max-width: 767.98px) {
  .layout-content {
    padding-bottom: 150px;
  }
}
.layout-content .pricing {
  margin-top: 125px;
}
@media (max-width: 991.98px) {
  .layout-content .pricing {
    margin-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .layout-content .pricing {
    margin-top: 60px;
  }
}
.layout-content .pricing .item {
  max-width: 450px;
  display: block;
}
.layout-content .pricing .item ul {
  flex: 1;
  padding-left: 20px;
  margin: 0;
  list-style: none;
}
.layout-content .pricing .item ul li:not(:last-child) {
  margin-bottom: 10px;
}
.layout-content .pricing .item ul li p {
  line-height: 1em;
  position: relative;
  display: inline;
}
.layout-content .pricing .item ul li p.line-through::after {
  content: "";
  height: 1px;
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 54%;
}
.layout-content .pricing .item ul li p::before {
  content: "•";
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -1em;
}
.layout-content .pricing .item .features {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: row;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 25px;
  position: relative;
  background-color: white;
}
.layout-content .pricing .item .features .overlay {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  height: 200px;
  width: 180px;
  position: absolute;
  background-color: white;
  z-index: 1;
}
.layout-content .pricing .item .get-started {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.layout-content .pricing .item-free {
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .layout-content .pricing .item-free {
    margin-right: auto;
  }
}
.layout-content .pricing .item-free .price {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}
.layout-content .pricing .item-free .price img {
  width: 100%;
}
.layout-content .pricing .item-free .price .title {
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  color: white;
  z-index: 2;
  position: absolute;
}
.layout-content .pricing .item-free .features {
  padding-left: 75px;
}
@media only screen and (max-width: 1200px) {
  .layout-content .pricing .item-free .features {
    padding-left: 25px;
  }
}
.layout-content .pricing .item-free .features .overlay {
  left: 0;
  transform: translateX(-75%);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .layout-content .pricing .item-free .features .overlay {
    display: none;
  }
}
.layout-content .pricing .item-free .features .overlay .title {
  width: 100%;
  position: absolute;
  top: 45px;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  color: white;
}
.layout-content .pricing .item-free .features .overlay .background {
  transform: skew(0deg, 5deg);
  height: 120px;
  width: 100%;
  margin-top: -10px;
  background-color: #b7dbfd;
}
.layout-content .pricing .item-free .features .overlay .button-wrapper {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}
.layout-content .pricing .item-free .features p.line-through::after {
  background: #41a2f9 !important;
}
.layout-content .pricing .item-free .features p::before {
  color: #b7dcfd !important;
}
.layout-content .pricing .item-free .get-started {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .layout-content .pricing .item-free .get-started {
    display: block;
  }
}
.layout-content .pricing .item-free .get-started .title {
  width: 100%;
  position: absolute;
  top: 35px;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  color: white;
  z-index: 1;
}
.layout-content .pricing .item-free .get-started .background {
  transform: skew(0deg, 3deg);
  height: 120px;
  width: 100%;
  margin-top: -25px;
  background-color: #b7dbfd;
}
.layout-content .pricing .item-free .get-started .button-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}
.layout-content .pricing .item-premium {
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .layout-content .pricing .item-premium {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
  }
}
.layout-content .pricing .item-premium .price {
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}
.layout-content .pricing .item-premium .price img {
  width: 100%;
}
.layout-content .pricing .item-premium .price .title-icon {
  position: absolute;
  z-index: 1;
  margin-top: -30px;
}
.layout-content .pricing .item-premium .price .title-icon .icon-premium {
  width: 50px;
  height: 50px;
}
.layout-content .pricing .item-premium .price .title-icon .title {
  margin-top: 15px;
  display: block;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  color: white;
}
.layout-content .pricing .item-premium .features {
  padding-right: 75px;
}
@media only screen and (max-width: 1200px) {
  .layout-content .pricing .item-premium .features {
    padding-right: 25px;
  }
}
.layout-content .pricing .item-premium .features .overlay {
  right: 0;
  transform: translateX(75%);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .layout-content .pricing .item-premium .features .overlay {
    display: none;
  }
}
.layout-content .pricing .item-premium .features .overlay .title {
  width: 100%;
  position: absolute;
  top: 35px;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  color: white;
}
.layout-content .pricing .item-premium .features .overlay .title .subtitle {
  display: block;
  margin-top: 5px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
}
.layout-content .pricing .item-premium .features .overlay .background {
  transform: skew(0deg, -5deg);
  height: 120px;
  width: 100%;
  margin-top: -10px;
  background-color: #f7d84c;
}
.layout-content .pricing .item-premium .features .overlay .button-wrapper {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}
.layout-content .pricing .item-premium .features p::before {
  color: #ffe981 !important;
}
.layout-content .pricing .item-premium .get-started {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .layout-content .pricing .item-premium .get-started {
    display: block;
  }
}
.layout-content .pricing .item-premium .get-started .title {
  width: 100%;
  position: absolute;
  top: 25px;
  text-align: center;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  color: white;
}
.layout-content .pricing .item-premium .get-started .title .subtitle {
  display: block;
  margin-top: 5px;
  font-family: Proxima Nova, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
}
.layout-content .pricing .item-premium .get-started .background {
  transform: skew(0deg, -3deg);
  height: 120px;
  width: 100%;
  margin-top: -25px;
  background-color: #f7d84c;
}
.layout-content .pricing .item-premium .get-started .button-wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}
.layout-content .more-info {
  margin-top: 125px;
}
@media (max-width: 991.98px) {
  .layout-content .more-info {
    margin-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .layout-content .more-info {
    margin-top: 60px;
  }
}
