@import "../abstract/breakpoint";
@import "../abstract/variables";

.button {
  background-color: $color-primary;
  color: white;
  border: 0;
  padding: 12px 20px 10px 20px;
  border-radius: 20px;
  @include font(16px, $fw-light);
  display: inline-block;
  transition: 300ms;

  &:hover {
    transition: 300ms;
    opacity: 0.8;
  }
}
