@import "../abstract/mixins";
@import "../abstract/variables";

.file-upload {
  position: relative;
  max-width: 70%;

  .file-select {
    @include flex($align-items: center);
  }

  button {
    background-color: white !important;
    color: $color-dark-gray !important;
  }

  #noFile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
